@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryNavy950: hsl(233, 47%, 7%);
  --primaryBlue950: hsl(244, 37%, 16%);
  --primaryPurple500: hsl(277, 64%, 61%);
  --whiteTitles: hsl(0, 0%, 100%);
  --whiteParagraph: hsla(0, 0%, 100%, 0.75);
  --whiteStatsHeadings: hsla(0, 0%, 100%, 0.6);
}

body {
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

h1,
h2 {
  color: var(--whiteTitles);
}

p {
  color: var(--whiteParagraph);
}

span {
  color: var(--primaryPurple500);
}

.container {
  background-color: var(--primaryNavy950);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 800px;
  display: flex;
  background-color: var(--primaryBlue950);
  border-radius: 8px;
}
.left-side {
  flex: 1;
  padding: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title h1 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
}

.description {
  margin-top: 24px;
  margin-bottom: 64px;
  line-height: 1.7;
  font-size: 15px;
}
.right-side {
  flex: 1;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--primaryPurple500);
}

.right-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  mix-blend-mode: multiply;
  opacity: 0.75;
}

.stats {
  display: flex;
  justify-content: flex-start;
  padding: 0px 6px;
  gap: 50px;
}

.stats h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.stats p {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--whiteStatsHeadings);
  font-family: "Lexend Deca", sans-serif;
}

@media only screen and (max-width: 600px) {
  .card {
    flex-direction: column;
    max-width: 375px;
    margin: 28px;
  }

  .left-side {
    order: 2;
    text-align: center;
    padding: 40px 32px;
  }

  .right-side {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 0px;
  }

  .title h1 {
    font-size: 28px;
  }

  .stats {
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
  }
}
